## SQLite Database Operations

### 1. Database Creation
- **Task:** Create a SQLite database.
- **Details:** 
  - Database Name: `test.db`

### 2. Schema Development
- **Task:** Design and create a table schema.

### 3. Data Insertion
- **Task:** Insert data into the table.
- **Details:** 
  - Initially, insert one row of data.
  - Scalability: Methodology applicable for multiple rows.

### 4. Query Execution
- **Task:** Execute SQL queries.
- **Details:** 
  - Purpose: To retrieve and inspect data from the database.

### 5. Closing Connection
- **Task:** Safely commit and close the database connection.

In [1]:
# !pip install sqlite3
import sqlite3

In [2]:
# create a connection to the SQLite DB
conn = sqlite3.connect('test.db')

In [4]:
# Create a cursor object to execute SQL Commands
cursor = conn.cursor()

In [5]:
# Create a table
cursor.execute(
"""
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
"""
)

In [6]:
# Insert data into table
cursor.execute(
"INSERT INTO employees (name, age, department) VALUES (?, ?, ?)", 
    ('John Doe', 30, 'Sales')

)

In [12]:
# Retreive data

cursor.execute("SELECT * FROM employees")

In [13]:
rows = cursor.fetchall() # it will bring all the rows into the memory

In [14]:
rows

[(1, 'John Doe', 30, 'Sales')]

In [15]:
conn.commit() # commit the changes

In [16]:
conn.close() # close the connection